* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

aside {
    width: 250px;
    background-color: #7b14c8;
}
aside img {
    width: 240px;
}
#menu {
    display: flex;
    height: 99vh;
    padding-bottom: 100px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

#menu ul {
    list-style: none;
    text-align: center;
    color: aliceblue;
}

#menu li a {
    display: block;          /* faz o link ocupar toda a largura */
    width: 100%;             /* 100% do li, que ocupa 100% do aside */
    padding: 15px 0;         /* padding vertical apenas */
    text-decoration: none;
    color: aliceblue;
    box-sizing: border-box;
}

.botao-link.active {
  background-color: #8611e0;
    padding: 20px;
    border-radius: 10px;
  color: white;
}